body {
    background-color: cadetblue;
    /* display: flex; */
    margin: 20px;
    font-family: monospace;
    font-weight: 500;
}

body .tit {
    position: absolute;
    left: 44%;
    display: flex;
    align-items: center;
    font-size: 30px;
}

body .par {
    position: absolute;
    left: 10%;
    top: 80px;
    font-size: 28px;
}