* {
    /* background-image: url(4.jpg);
    background-repeat: no-repeat; */
    /* padding: 15px; */
    background-color: #E4E9F7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
}

body {
    margin: 15px;
    position: absolute;
}

.tit {
    margin: 20px;
    font-size: 40px;
}

body .par {
    font-size: 28px;
}

body .par .hl {
    font-size: 30px;
}

body .tex {
    width: 100px;
    position: absolute;
    top: 120%;
    left: 100%;
}

body .tex input {
    height: 100px;
    width: 380px;
    border: black solid;
    border-radius: 12px;
}

body .tex label {
    font-size: 22px;
}

body .ss input {
    height: 30px;
    width: 150px;
    position: absolute;
    top: 209%;
    left: 144%;
    border-radius: 15px;
    border: solid red;
}

body .ss input:hover {
    background-color: aqua;
}