body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.bord {
    position: relative;
    top: -818px;
    left: 875px;
    width: 27%;
    height: 43%;
    filter: invert(90%);
    filter: hue-rotate(90%);
    filter: blur(100%);
}

.a {
    width: 500px;
    position: relative;
    border: none;
    border-bottom: solid 2px rgb(148, 21, 21);
    left: 13%;
    overflow: hidden;
    height: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.a4 {
    width: 100px;
    position: relative;
    border-radius: 10px;
    /* border-bottom: solid 2px rgb(32, 32, 32); */
    left: 20%;
    block-size: 50%;
    overflow: hidden;
    background-color: rgb(19, 118, 205);
    color: aliceblue;
    height: 30px;
}

.a1 {
    position: relative;
    padding: 40px;
    background-color: #E4E9F7;
    /* background-image: url(jack-b-y39S4lk_7jU-unsplash.jpg); */
    background-attachment: fixed;
    background-size: contain;
    overflow: hidden;
    height: 889px;
}

.a22 {
    position: relative;
}

.a23 {
    position: relative;
    left: 26%;
    font-size: 19px;
    top: -30px;
    overflow: hidden;
}

.a19 {
    position: relative;
    font-size: 30px;
    color: rgb(19, 118, 205);
    left: 24%;
    top: 16px;
    overflow: hidden;
}

.a134 {
    position: relative;
    width: 20%;
    left: 63%;
    top: -1080px;
    overflow: hidden;
    height: 30%;
}

.location {
    position: relative;
    width: 6%;
    top: -750px;
    left: 77px;
    overflow: hidden;
}

.email {
    position: relative;
    width: 4%;
    top: -432px;
    left: -100px;
    overflow: hidden;
}

.phone {
    position: relative;
    width: 5%;
    top: -589px;
    left: -20px;
    overflow: hidden;
}

.address1 {
    position: relative;
    padding: 10px;
    font-size: 45px;
    left: 160px;
    top: -10px;
    color: rgb(19, 118, 205);
    ;
}

.phone1 {
    position: relative;
    padding: 10px;
    font-size: 45px;
    left: 160px;
    top: -115px;
    color: rgb(19, 118, 205);
    ;
}

.email1 {
    position: relative;
    padding: 10px;
    font-size: 45px;
    left: 160px;
    top: -200px;
    color: rgb(19, 118, 205);
    ;
}

.st {
    position: relative;
    font-size: 30px;
    left: 260px;
    top: -99px;
    color: black
}

.ph {
    position: relative;
    font-size: 30px;
    left: 260px;
    top: -194px;
    color: black
}

.gm {
    position: relative;
    font-size: 30px;
    left: 260px;
    top: -270px;
    color: black(0, 255, 242);
}

.spaaa {
    position: relative;
    font-size: 75px;
    color: rgb(19, 118, 205);
    ;
    font-style: oblique;
}

.spaa {
    position: relative;
    font-size: 25px;
    color: black
}